
bfast_auto_refine.txt

bfast_seismic_data.txt

bfast.arf

bfast.blk

bfast.plt

bfast.prn

bfast.tim

bfast.tof

*.exe

intel/

kbug.arf

kbug.blk

kbug.plt

kbug.ps

kbug.tim

kbug.tof

bl691.arf

bl691.blk

bl691.dat

bl691.irf

bl691_01.blk

bl691_01.plt

bl691_11.blk

bl691_11.plt

bl691_12.blk

bl691_12.plt

bl691_auto_refine.txt

bl691_perplex_option.dat

bl691_seismic_data.txt

bfast_perplex_option.dat

bl691.plt

bl691.prn

bl691.tof

kbug_01.blk

kbug_11.blk

kbug.irf

kbug_11.plt

kbug_perplex_option.dat

bl691.ps

bl691.tim

klb691_auto_refine.txt

klb691_seismic_data.txt

klb691.arf

klb691.blk

klb691.dat

klb691.plt

klb691.ps

klb691.tim

klb691.tof

klb691_01.blk

klb691_01.plt

klb691.irf

DEW19HP633ver_elements.dat

perplex_option_lagged.dat

weigang_seismic_data.txt

weigang.arf

weigang.blk

weigang.dat

weigang.plt

weigang_auto_refine.txt

weigang_MEEMUM.pts

weigang.ps

weigang.pts

weigang.tof

tonga_path.dat

weigang_01.blk

weigang_01.plt

weigang_11.blk

weigang_11.plt

DEW19HP622ver_elements.dat

wei_II_auto_refine.txt

wei_II_COH-Fluid.dat

wei_II_fractionated_bulk.dat

wei_II_seismic_data.txt

wei_II.arf

wei_II.blk

wei_II.dat

wei_II.plt

wei_II.ps

wei_II.pts

wei_II.tim

wei_II.tof

wei_II.zip

weigang_1.txt

weigang.tim

w2.dat

*.blk

*.plt

*.irf

desktop.ini

cascadia_path.dat

wei_II_1.tab

*.o

w_auto_refine.txt

w_MEEMUM.pts

w_seismic_data.txt

w.arf

w.dat

w.pts

w.tim

w.tof

*.pts

*.TMP

bfast.dat

DEW17HP622ver_oxides.dat

*.ps

weigang_2.txt

manuel_1.tab

manuel_1.txt

manuel_2.tab

manuel_2.txt

manuel_3.tab

manuel_3.txt

manuel_4.tab

manuel_4.txt

manuel_5.tab

manuel_5.txt

manuel_6.tab

manuel_6.txt

manuel_7.tab

manuel_7.txt

manuel_auto_refine.txt

manuel_COH-Fluid\+.dat

manuel_fractionated_bulk.dat

manuel_perplex_option.dat

manuel_seismic_data.txt

manuel.arf

manuel.dat

manuel.tim

manuel.tof

manuel_10.txt

manuel_11.txt

manuel_12.txt

manuel_13.txt

manuel_14.txt

manuel_8.txt

manuel_9.txt

manuel.zip

paul_1.txt

paul_auto_refine.txt

paul_perplex_option.dat

paul_seismic_data.txt

paul.arf

paul.dat

paul.prn

paul.tim

paul.times

paul.tof

paul1_1.txt

paul1_auto_refine.txt

paul1_seismic_data.txt

paul1.arf

paul1.dat

paul1.prn

paul1.tim

paul1.tof
