
bfast_auto_refine.txt

bfast_seismic_data.txt

bfast.arf

bfast.blk

bfast.plt

bfast.prn

bfast.tim

bfast.tof

*.exe

intel/

kbug.arf

kbug.blk

kbug.plt

kbug.ps

kbug.tim

kbug.tof

bl691.arf

bl691.blk

bl691.dat

bl691.irf

bl691_01.blk

bl691_01.plt

bl691_11.blk

bl691_11.plt

bl691_12.blk

bl691_12.plt

bl691_auto_refine.txt

bl691_perplex_option.dat

bl691_seismic_data.txt

bfast_perplex_option.dat

bl691.plt

bl691.prn

bl691.tof

kbug_01.blk

kbug_11.blk

kbug.irf

kbug_11.plt

kbug_perplex_option.dat

bl691.ps

bl691.tim

klb691_auto_refine.txt

klb691_seismic_data.txt

klb691.arf

klb691.blk

klb691.dat

klb691.plt

klb691.ps

klb691.tim

klb691.tof

klb691_01.blk

klb691_01.plt

klb691.irf

DEW19HP633ver_elements.dat

perplex_option_lagged.dat

weigang_seismic_data.txt

weigang.arf

weigang.blk

weigang.dat

weigang.plt

weigang_auto_refine.txt

weigang_MEEMUM.pts

weigang.ps

weigang.pts

weigang.tof

tonga_path.dat

weigang_01.blk

weigang_01.plt

weigang_11.blk

weigang_11.plt

DEW19HP622ver_elements.dat

wei_II_auto_refine.txt

wei_II_COH-Fluid.dat

wei_II_fractionated_bulk.dat

wei_II_seismic_data.txt

wei_II.arf

wei_II.blk

wei_II.dat

wei_II.plt

wei_II.ps

wei_II.pts

wei_II.tim

wei_II.tof

wei_II.zip

weigang_1.txt

weigang.tim

olib.o

pscom.o

pslib.o

resub.o

rlib.o

tlib.o

vertex.o

w2_auto_refine.txt

w2_seismic_data.txt

w2.arf

w2.blk

w2.dat

w2.plt

w2.pts

w2.tim

w2.tof

blas2lib.o

flib.o

minime_blas.o

*.blk

*.plt

*.irf
