
bfast_auto_refine.txt

bfast_seismic_data.txt

bfast.arf

bfast.blk

bfast.plt

bfast.prn

bfast.tim

bfast.tof

*.exe

kbug.arf

kbug.blk

kbug.plt

kbug.ps

kbug.tim

kbug.tof

bl691.arf

bl691.blk

bl691.dat

bl691.irf

bl691_01.blk

bl691_01.plt

bl691_11.blk

bl691_11.plt

bl691_12.blk

bl691_12.plt

bl691_auto_refine.txt

bl691_perplex_option.dat

bl691_seismic_data.txt

bfast_perplex_option.dat

bl691.plt

bl691.prn

bl691.tof

kbug_01.blk

kbug_11.blk

kbug.irf

kbug_11.plt

kbug_perplex_option.dat

bl691.ps

bl691.tim

klb691_auto_refine.txt

klb691_seismic_data.txt

klb691.arf

klb691.blk

klb691.dat

klb691.plt

klb691.ps

klb691.tim

klb691.tof

klb691_01.blk

klb691_01.plt

klb691.irf

perplex_option_lagged.dat

weigang_seismic_data.txt

weigang.arf

weigang.blk

weigang.dat

weigang.plt

weigang_auto_refine.txt

weigang_MEEMUM.pts

weigang.ps

weigang.pts

weigang.tof

tonga_path.dat

weigang_01.blk

weigang_01.plt

weigang_11.blk

weigang_11.plt

wei_II_auto_refine.txt

wei_II_COH-Fluid.dat

wei_II_fractionated_bulk.dat

wei_II_seismic_data.txt

wei_II.arf

wei_II.blk

wei_II.dat

wei_II.plt

wei_II.ps

wei_II.pts

wei_II.tim

wei_II.tof

wei_II.zip

weigang_1.txt

weigang.tim

w2.dat

*.blk

*.plt

*.irf

desktop.ini

cascadia_path.dat

wei_II_1.tab

*.o

w_auto_refine.txt

w_MEEMUM.pts

w_seismic_data.txt

w.arf

w.dat

w.pts

w.tim

w.tof

*.pts

*.TMP

bfast.dat

*.ps

weigang_2.txt

manuel_1.tab

manuel_1.txt

manuel_2.tab

manuel_2.txt

manuel_3.tab

manuel_3.txt

manuel_4.tab

manuel_4.txt

manuel_5.tab

manuel_5.txt

manuel_6.tab

manuel_6.txt

manuel_7.tab

manuel_7.txt

manuel_auto_refine.txt

manuel_COH-Fluid\+.dat

manuel_fractionated_bulk.dat

manuel_perplex_option.dat

manuel_seismic_data.txt

manuel.arf

manuel.tim

manuel.tof

manuel_10.txt

manuel_11.txt

manuel_12.txt

manuel_13.txt

manuel_14.txt

manuel_8.txt

manuel_9.txt

manuel.zip

paul_1.txt

paul_auto_refine.txt

paul_perplex_option.dat

paul_seismic_data.txt

paul.arf

paul.prn

paul.tim

paul.times

paul.tof

paul1_1.txt

paul1_auto_refine.txt

paul1_seismic_data.txt

paul1.arf

paul1.dat

paul1.prn

paul1.tim

paul1.tof

*.tab

bas21_1.txt

bas21_2.txt

bas21_3.txt

bas21_auto_refine.txt

bas21_perplex_option.dat

bas21_seismic_data.txt

bas21.arf

bas21.dat

bas21.prn

bas21.tim

bas21.tof

bas21a_auto_refine.txt

bas21a_seismic_data.txt

bas21a.arf

bas21a.dat

bas21a.prn

bas21a.tim

bas21a.tof

bas21b_1.txt

bas21b_2.txt

bas21b_3.txt

bas21b_4.txt

bas21b_5.txt

bas21b_6.txt

bas21b_auto_refine.txt

bas21b_perplex_option.dat

bas21b_seismic_data.txt

bas21b.arf

bas21b.dat

bas21b.prn

bas21b.tim

bas21b.tof

basalt_optimitization_precision_1d-2.jpg

basalt_optimitization_precision_1d-4.jpg

ex2_seismic_data.txt

ex2.dat

ex2.prn

marcos_1.txt

marcos_seismic_data.txt

marcos.arf

marcos.dat

marcos.tof

paul_2.txt

paul_3.txt

paul_4.txt

paul_5.txt

paul_6.txt

paul_7.txt

paul_8.txt

paul_9.txt

xpaul_auto_refine.txt

xpaul_perplex_option.dat

xpaul_seismic_data.txt

xpaul.arf

xpaul.dat

xpaul.prn

xpaul.tim

xpaul.tof

ex2_auto_refine.txt

ex2.arf

ex2.tof

old_intel/

intel/Win32/

intel/x64/

intel/actcor.u2d

nomp_auto_refine.txt

nomp_seismic_data.txt

nomp.arf

nomp.dat

nomp.prn

nomp.tim

nomp.tof

actcor.pdb

*.pdb

intel/.vs/Perp2020/v15/.suo

intel/.vs/Perp2020/v15/Browse.VC.db

g1_auto_refine.txt

g1_seismic_data.txt

g1.arf

g1.dat

g1.prn

g1.tim

g1.tof

g2_auto_refine.txt

g2_seismic_data.txt

g2.arf

g2.dat

g2.prn

g2.tim

g2.tof

guillaume_1.txt

guillaume_auto_refine.txt

guillaume_seismic_data.txt

guillaume.arf

guillaume.dat

guillaume.prn

guillaume.tim

guillaume.tof

jesse_auto_refine.txt

jesse_seismic_data.txt

jesse.arf

jesse.dat

jesse.prn

jesse.tof

nac2_seismic_data.txt

nac2.dat

nac2.prn

nacl_auto_refine.txt

nacl_seismic_data.txt

nacl.arf

nacl.dat

nacl.prn

nacl.tim

nacl.tof

ctransf_hp02.dat

ctransf.dat

dew17.dat

dewnacl.dat

salt_seismic_data.txt

salt.dat

wsalt_seismic_data.txt

wsalt.dat

*.user

*.u2d

gloss1di_perplex_option.dat

gloss1di.dat

test_seismic_data.txt

test.dat

test.prn

ugh3.zip

interpolation.jpg

max0_auto_refine.txt

max0_seismic_data.txt

max0.arf

max0.dat

max0.tim

max0.tof

max1_1.txt

max1_auto_refine.txt

max1_seismic_data.txt

max1.arf

max1.dat

max1.tim

max1.tof

max3_1.txt

max3_auto_refine.txt

max3_seismic_data.txt

max3.arf

max3.dat

max3.tim

max3.tof

no_interpolation.jpg

wet_2.fig

wet_auto_refine.txt

wet_seismic_data.txt

wet_WERAMI_dialog.dat

wet_WERAMI_dialog.txt

wet.arf

wet.dat

wet.prn

wet.tim

wet.tof

*.db

*.opendb

intel/.vs/

bp002.tim

bp002.tof

khgp_seismic_data.txt

khgp.arf

khgp.tof

bp002_auto_refine.txt

bp002_seismic_data.txt

khgp_auto_refine.txt

bp002.arf

BP002.dat

*.arf

*.tim

*.prn

*.tof

*.pdf

maxkcmas_auto_refine.txt

*.txt

fort.7

xperplex_option.dat

fort.18
